html{
  scroll-behavior: smooth;
}

a:hover{
  text-decoration: none;
}

.page-wrapper-two{
  width:100%;
  height: 100vh;
  overflow-x: auto;
  background-image: url('../images/city_art_cyberpunk_136314_3840x2160.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
}

.align-items-center{
  padding-top: 0;
  padding-bottom: 0;
}

.align-items-center .container .row .col-md-6 {
    height: 100%;
}

.align-items-center .container .row .image {
  opacity: .77;
}

.align-items-center .container .row .content {
  color: #ffffff !important;
  text-transform: capitalize;
  font-size: 25pt;
  line-height: 2.5rem;
  transition: all linear .5s;
}

.align-items-center .container .row .content .text{
  background: #252726e0;
  border-radius: 7px;
  margin-top: 7%;
  padding: 30px;
  height: 75vh;
  width: 320px;
  overflow: auto;
}

/********** Modal **********/

.modal.cvModal{
  font-family: Arial, sans-serif;
}

.modal.cvModal .overlay{
  width: 100%;
  height: 100%;
  background : #25272766;
}

.modal.cvModal .modal-content .modal-header .modal-title{
  color: #939598 !important;
  text-transform: uppercase;
  line-height: 0;
  margin: 0;
  cursor: pointer;
  margin-left: auto;
  font-weight: bold;
  font-family: 'Helvetica', Arial, sans-serif;
}

.modal.cvModal .modal-content .modal-body {
  background: url('../images/city_art_cyberpunk_136314_3840x2160.jpg') !important;
  background-size: cover !important;
}

.modal.cvModal .modal-content .modal-body img {
  width: 100%;
  height: auto;
  background: transparent !important;
}

.modal.cvModal .modal-content .modal-body .text .title {
  padding: 0;
  margin-top: 0;
  font-family: monospace;
  text-align: left;
}

/********** Menu **********/

.align-items-center .container .row .content .menu ul.tabs , .tabs li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.align-items-center .container .row .content .menu, .align-items-center .container .row .content .menu .row, .align-items-center .container .row .content .menu .icon {
  margin-left: auto;
  margin-right: auto;
}

.align-items-center .container .row .content .menu .icon {
  text-align: center;
  padding-bottom: 4%;
  margin-bottom: 1.5rem;
}

.align-items-center .container .row .content .menu ul.tabs , .tabs li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.align-items-center .container .row .content .menu ul.tabs .icon img:hover{
  background: #e6e7de2c !important;
}

.align-items-center .container .row .content .menu ul.tabs li.active img{
  background: #9d3242 !important;
}

.align-items-center .container .row .content .menu .icon img {
  border-radius: 50%;
  border: solid 2px #ffffff !important;
  padding: 3px;
  width: 30px;
  cursor: pointer;
}



/************ About *************/

.align-items-center .container .row .content .menu .tab-content{
  overflow: hidden;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: opacity .5s;
}

.align-items-center .container .row .content .menu .tab-content.active{
  visibility: visible;
  height: auto;
  transition: opacity .5s;
  opacity: 1;

}

.align-items-center .container .row .content .menu .tabs-content .about .title{
  text-align: center;
  line-height: 2rem;
  border-bottom: solid 2px #fff;
  font-weight: bold;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.align-items-center .container .row .content .menu .tabs-content .about .text-about{
  text-align: left;
  line-height: 2rem;
  font-size: 10pt; 
}


.align-items-center .container .row .content .menu .tabs-content .about .text-about a{
  text-decoration: none;
  color: #626d6d !important;
  font-weight: bold;
}

.align-items-center .container .row .content .menu .tabs-content .about .title .name{
  text-transform: uppercase;
  font-size : 14pt;
  font-family: Arial, Helvetica, sans-serif;
}

.align-items-center .container .row .content .menu .tabs-content .about .title .firstname{
  text-transform: capitalize;
  font-size : 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

/************ Graduation *************/

.align-items-center .container .row .content .menu .tabs-content .graduation .curse{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .date{
  font-size: 9pt;
  color: #ffffff !important;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info{
  padding-left: 30px;
  line-height: 1.5rem;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info .diplome{
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: .3rem;
  text-transform: none;
  color: #726c69 !important;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info .diplome strong{
  text-transform: uppercase;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info .place{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 8pt;
  color: #a69b7a !important;
}

/************ Experience *************/

.align-items-center .container .row .content .menu .tabs-content .experience .curse{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.align-items-center .container .row .content .menu .tabs-content .experience .curse .date{
  font-size: 9pt;
  color: #ffffff !important;
}

.align-items-center .container .row .content .menu .tabs-content .experience .curse .info{
  padding-left: 30px;
  line-height: 1.5rem;
}

.align-items-center .container .row .content .menu .tabs-content .experience .curse .info .title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: .3rem;
  text-transform: none;
  color: #726c69 !important;
}

.align-items-center .container .row .content .menu .tabs-content .experience .curse .info .place{
  color: #797465 !important;
}

.align-items-center .container .row .content .menu .tabs-content .experience .curse .info .exptext{
  color: #a69b7a !important;
}

.align-items-center .container .row .content .menu .tabs-content .experience .curse .info .link a{
  color:#8785e0 !important;
}

.align-items-center .container .row .content .menu .tabs-content .experience .curse .info .place,
.align-items-center .container .row .content .menu .tabs-content .experience .curse .info .exptext,
.align-items-center .container .row .content .menu .tabs-content .experience .curse .info .link{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 8pt;
}

/************ Graduation *************/

.align-items-center .container .row .content .menu .tabs-content .graduation .curse{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .date{
  font-size: 9pt;
  color: #ffffff !important;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info{
  padding-left: 30px;
  line-height: 1.5rem;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info .diplome{
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: .3rem;
  text-transform: none;
  color: #726c69 !important;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info .diplome strong{
  text-transform: uppercase;
}

.align-items-center .container .row .content .menu .tabs-content .graduation .curse .info .place{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 8pt;
  color: #a69b7a !important;
}

/************ Skill *************/

.align-items-center .container .row .content .menu .tabs-content .skill .skill-category{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.align-items-center .container .row .content .menu .tabs-content .skill .skill-category .title{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: .3rem;
  text-transform: none;
  color: #726c69 !important;
}

.align-items-center .container .row .content .menu .tabs-content .skill .skill-category .skilltext{
  color: #a69b7a !important;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 8pt;
  padding-left: 30px;
  line-height: 1.5rem;
}

.align-items-center .container .row .content .menu .tabs-content .skill .skill-category .skilltext img{
  width: 30px;
  margin-right: 10px;
}

/************ Hobbies *************/

.align-items-center .container .row .content .menu .tabs-content .hobbies{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

.align-items-center .container .row .content .menu .tabs-content .hobbies .hobbietext{
  color: #a69b7a !important;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 8pt;
  padding-left: 30px;
  line-height: 1.5rem;
}

.align-items-center .container .row .content .menu .tabs-content .hobbies .hobbietext img{
  width: 30px;
  margin-right: 10px;
}

/************ Languages *************/
.french, .english{
  padding-top: 30px;
  padding-bottom: 30px;
}

.align-items-center .container .row .content .menu .tabs-content .language .progress {
  height: 4px;
  background: #1f1f1f;
  overflow: visible;
  font-size: 0.75rem;
  -webkit-box-shadow: none;
  border-radius: 0;
  box-shadow: none;
}

.align-items-center .container .row .content .menu .tabs-content .language .progress-bar {
  background: #726c69 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.2;
  text-align: right;
  position: relative;
  border-radius: 30px;
  color: #121212;
  overflow: visible;
  font-weight: 400;
}

.align-items-center .container .row .content .menu .tabs-content .language .progress-bar:after {
  background: #726c69 !important;
  position: absolute;
  top: -3px;
  height: 10px;
  right: 0;
  content: '';
  border-radius: 50%;
  width: 10px;
}

.progress-bar.fr{
  width: 85%;
}

.progress-bar.en{
  width: 65%;
}

.align-items-center .container .row .content .menu .tabs-content .language .progress-bar span {
  position: absolute;
  top: -30px;
  right: 0;
  color: #6c757d;
}

/************ Contact *************/
.align-items-center .container .row .content .menu .tabs-content .contact {
  font-size: 10pt;
  line-height: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #9b9593 !important;
}

.align-items-center .container .row .content .menu .tabs-content .contact a {
  text-decoration: none;
  color: #9b9593 !important;
}

.align-items-center .container .row .content .menu .tabs-content .contact img {
  width: 30px;
  margin-right: 20px;
  padding: 3px;
}


/*************** Responsive ***************/

html,body{
  min-width: 350px;
}

img{
  vertical-align: middle;
  border-style: none;
}

.col-xl-4 ,.col-sm{
  padding-left: 0;
  padding-right: 0;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}


@media (max-width: 991px) {
  body{
    position: relative;
  }
}

@media (max-width: 768px) {
  .page-wrapper{
    height: auto;
  }
}

@media (max-width: 576px) {
  .col-sm-2{
    width: auto;
  }
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
background: transparent;
}
